$grass: #49D0B0;
$bug: #49D0B0;
$fire: #FC6C6D;
$water: #76BEFE;
$thunder: #FFE57F;
$normal: #b9b9b9;
$psy: #785389;
$earth: #B2736E;
$white: #fff;

$colors: (
	'bug': $bug,
	'grass': $grass,
    'fire': $fire,
    'water': $water,
    'normal': $normal,
    'thunder': $thunder,
    'psy': $psy,
    'earth': $earth,
    'white': $white,
);