@use '/src/assets/sass/abstracts' as *;

// .pokemonTitle {
//     font-weight: 800;
//     font-size: 2rem;
//     padding-top: 2rem;
// }

.pokemonSearch {
    border: none;
    background-color: #f2f2f2;
    border-radius: 100vw;
    padding: .75rem 1rem;
    width: 100%;
    outline: 0 solid #dadada;
    transition: outline .1s ease-in-out;

    &__container {
        --spacer: 1rem;

        position: sticky;
        top: 0;
        padding-block: var(--spacer);
        z-index: 10;
    }
}

.pokemonSearch:focus {
    outline: 2px solid #dadada;
}

.pokemonGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.pokemonLi {
    border-radius: 2rem;
    padding: 1rem;

    background-color: #666;
    color: white;
    position: relative;
    overflow: hidden;
    isolation: isolate; // creates stacking context to prevent before from being behind everything
    display: block;

    &--border-radius {
        border-radius: 2rem;
    }

    &__bg {
        position: absolute;
        bottom: -10%;
        right: -10%;
        z-index: -1;
        width: 150px;
        height: 150px;
        fill: rgba($color: white, $alpha: .3)
    }

    &__id {
        font-size: 1.5rem;
        color: rgba($color: white, $alpha: .5);
        font-weight: 800;
        text-align: right;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
}