.pokemonDetail {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-height: 100%;

    &__card {
        --box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.15);

        box-shadow: var(--box-shadow);
        padding: 2rem 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: white;
        color: var(--text);
        flex-grow: 1;
    }

    .stats {

        &__table {
            display: table;
            white-space: nowrap;
        }
        &__row {
            display: table-row
        }
        &__prop,
        &__value,
        &__progress {
            display: table-cell;
            padding: .5rem .75rem;
        }
        &__prop {
            opacity: .7;
            text-transform: capitalize;
            padding-left: 0;
        }
        &__value {
            text-align: right;
        }
        &__progress {
            width: 100%;
            padding-right: 0;
            vertical-align: middle;
        }
    }
}