@use '../../../assets/sass/abstracts/colors' as *;

.tabs {
    // overflow: auto;
    // max-width: 100%;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        border-bottom: 1px solid $muted;
    }

    &__item {
        padding: 1rem .25rem;
        color: $muted;
        font-weight: bold;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: auto 0 -1px 0;
            height: 0;
            background-color: cornflowerblue;
        }

        &.active {
            color: var(--text);
            border-color: cornflowerblue;

            &::after {
                height: 3px;
            }
        }
    }

    &__pannel {
        padding: 1rem;
    }
}
